@model App.Domain.Entities.Session

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionCreatedAt" class="control-label"></label>
                <input asp-for="SessionCreatedAt" class="form-control" />
                <span asp-validation-for="SessionCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionUpdatedAt" class="control-label"></label>
                <input asp-for="SessionUpdatedAt" class="form-control" />
                <span asp-validation-for="SessionUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDeletedAt" class="control-label"></label>
                <input asp-for="SessionDeletedAt" class="form-control" />
                <span asp-validation-for="SessionDeletedAt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
