@model App.Domain.Entities.Consultation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consultation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class ="form-control" asp-items="ViewBag.ScheduleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class ="form-control" asp-items="ViewBag.TeacherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationName" class="control-label"></label>
                <input asp-for="ConsultationName" class="form-control" />
                <span asp-validation-for="ConsultationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationDescription" class="control-label"></label>
                <input asp-for="ConsultationDescription" class="form-control" />
                <span asp-validation-for="ConsultationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationCreatedAt" class="control-label"></label>
                <input asp-for="ConsultationCreatedAt" class="form-control" />
                <span asp-validation-for="ConsultationCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationUpdatedAt" class="control-label"></label>
                <input asp-for="ConsultationUpdatedAt" class="form-control" />
                <span asp-validation-for="ConsultationUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationDeletedAt" class="control-label"></label>
                <input asp-for="ConsultationDeletedAt" class="form-control" />
                <span asp-validation-for="ConsultationDeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
