@model dynamic

@{
    ViewData["Title"] = "Password reset link";
}

<h1>Password Reset Link</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.AppUser.Email</h5>
        <p class="card-text">
            Copy the link below and send it to the user. They will use it to reset their password:
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="@ViewBag.PasswordLink" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="CompanyAccount" asp-route-id="@ViewData["CompanyId"]" class="btn btn-primary">
        Back to Company Account
    </a>
</div>

<script>
    function copyToClipboard() {
        var copyText = document.querySelector('input[readonly]');
        copyText.select();
        document.execCommand('copy');
        alert('Password reset link copied to clipboard!');
    }
</script>
