@model App.Domain.Entities.StudentPlacementTest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentPlacementTest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlacementTestId" class="control-label"></label>
                <select asp-for="PlacementTestId" class ="form-control" asp-items="ViewBag.PlacementTestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentPlacementTestCreatedAt" class="control-label"></label>
                <input asp-for="StudentPlacementTestCreatedAt" class="form-control" />
                <span asp-validation-for="StudentPlacementTestCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPlacementTestUpdatedAt" class="control-label"></label>
                <input asp-for="StudentPlacementTestUpdatedAt" class="form-control" />
                <span asp-validation-for="StudentPlacementTestUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPlacementTestDeletedAt" class="control-label"></label>
                <input asp-for="StudentPlacementTestDeletedAt" class="form-control" />
                <span asp-validation-for="StudentPlacementTestDeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
