@{
    ViewData["Title"] = "Create Manager";
}

<h1>Create Manager</h1>

<h4>Company: @ViewData["CompanyName"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateManager" asp-route-companyId="@ViewBag.CompanyId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input class="form-control" type="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="FirstName" class="control-label">First Name</label>
                <input class="form-control" type="text" name="firstName" required />
            </div>
            <div class="form-group">
                <label for="LastName" class="control-label">Last Name</label>
                <input class="form-control" type="text" name="lastName" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create Manager" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.CompanyId" class="btn btn-default">Back to Company Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
