@model App.Domain.Entities.Reagent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reagent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReagentName" class="control-label"></label>
                <input asp-for="ReagentName" class="form-control" />
                <span asp-validation-for="ReagentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReagentDescription" class="control-label"></label>
                <input asp-for="ReagentDescription" class="form-control" />
                <span asp-validation-for="ReagentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CASNumber" class="control-label"></label>
                <input asp-for="CASNumber" class="form-control" />
                <span asp-validation-for="CASNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalFormula" class="control-label"></label>
                <input asp-for="ChemicalFormula" class="form-control" />
                <span asp-validation-for="ChemicalFormula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MolecularWeight" class="control-label"></label>
                <input asp-for="MolecularWeight" class="form-control" />
                <span asp-validation-for="MolecularWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentration" class="control-label"></label>
                <input asp-for="Concentration" class="form-control" />
                <span asp-validation-for="Concentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageConditions" class="control-label"></label>
                <input asp-for="StorageConditions" class="form-control" />
                <span asp-validation-for="StorageConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafetyNotes" class="control-label"></label>
                <input asp-for="SafetyNotes" class="form-control" />
                <span asp-validation-for="SafetyNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialFilePath" class="control-label"></label>
                <input asp-for="MaterialFilePath" class="form-control" />
                <span asp-validation-for="MaterialFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReagentTypeId" class="control-label"></label>
                <select asp-for="ReagentTypeId" class ="form-control" asp-items="ViewBag.ReagentTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
