@page "/ExperimentDashboard"
@model WebApp.Views.AppPages.ExperimentDashboard.ExperimentDashboard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <partial name="_MainNavigation"/>
</div>
</body>
</html>