@page "/AdminDashboard"

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Admin dashboard</h1>
    <h3>Overall stats</h3>
    
    <div class="mt-4">
        <a asp-area="Root" asp-controller="Users" asp-action="Index" class="btn btn-primary">Manage Users</a>
    </div>
</div>
</body>
</html>