@model App.Domain.Entities.Certification

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Certification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CertificationName" class="control-label"></label>
                <input asp-for="CertificationName" class="form-control" />
                <span asp-validation-for="CertificationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandedOver" class="control-label"></label>
                <input asp-for="HandedOver" class="form-control" />
                <span asp-validation-for="HandedOver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expired" class="control-label"></label>
                <input asp-for="Expired" class="form-control" />
                <span asp-validation-for="Expired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteUserId" class="control-label"></label>
                <select asp-for="InstituteUserId" class ="form-control" asp-items="ViewBag.InstituteUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CertificationTypeId" class="control-label"></label>
                <select asp-for="CertificationTypeId" class ="form-control" asp-items="ViewBag.CertificationTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
