@model IEnumerable<App.Domain.Entities.Project>

@{
    Layout = "_Layout";
    var items = Model == null ? new List<App.Domain.Entities.Project>() : Model.ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>Institute name</title>
</head>
<body>
<div class="container-fluid">
    <h1>Projects</h1>
    <p>
        <a asp-controller="HomeDashboard" asp-action="Create" class="btn btn-success">Create New Project</a>
    </p>
    <partial name="_ProjectList" model="items" />
</div>
</body>
</html>