@model App.Domain.Entities.Language

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label"></label>
                <select asp-for="LevelId" class ="form-control" asp-items="ViewBag.LevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageName" class="control-label"></label>
                <input asp-for="LanguageName" class="form-control" />
                <span asp-validation-for="LanguageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageDescription" class="control-label"></label>
                <input asp-for="LanguageDescription" class="form-control" />
                <span asp-validation-for="LanguageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageCreatedAt" class="control-label"></label>
                <input asp-for="LanguageCreatedAt" class="form-control" />
                <span asp-validation-for="LanguageCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageUpdatedAt" class="control-label"></label>
                <input asp-for="LanguageUpdatedAt" class="form-control" />
                <span asp-validation-for="LanguageUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageDeletedAt" class="control-label"></label>
                <input asp-for="LanguageDeletedAt" class="form-control" />
                <span asp-validation-for="LanguageDeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
